#header{
    background-color: white;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%);
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: inherit;
    margin: auto;
}

.nav-content > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-content > ul > li{
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px;
    width: 150px;
    text-align: center;
}

.nav-page{
    display: flex;
    justify-content: flex-end;
}

.hide {
    display: none !important
}

.header__nav li:hover {
    color: #000;
    cursor: pointer;
    background-color: #f4e7e7;
    border-radius: 10px;
}
.nav-btn,
.payroll-btn button,
.subject-btn button,
.class-btn button,
.handle-info-btn button{
    border: none;
    color: rgb(98, 62, 62);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    background-color: #eecfcf;
    width: 100px;
}

.fa-xmark,
.fa-pen{
    padding: 5px
}

.nav-btn:hover,
.handle-info-btn button:hover,
.fa-xmark:hover,
.fa-pen:hover{
    background: #a73838;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%),
        0 4px 20px 0 rgb(0 0 0 / 19%);
}

.logo-header{
    object-fit: contain;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 65px;
}

.show-info-class,
.show-info-subject,
.show-payroll,
.create-teach,
.show-info{
    display: none;
    width: 1200px;
    justify-content: center;
    gap: 150px;
    margin: auto;
}

.show-info-class,
.show-info-subject,
.show-payroll,
.show-payroll{
    flex-direction: column;
    align-items: center;
}

.info-teach p{
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

.class-btn,
.subject-btn{
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-evenly;
}

.class-btn button{
    width: 100px;
}

.show-content,
.show-modal,
.show-sider{
    display: flex !important
}

.block-input,
.input-payroll,
.block-input-class{
    margin: 15px;
    border-bottom: 1px solid #ccc;
}

.block-input label,
.block-input-class label{
    display: inline-block;
    width: 100px;
}

.block-input-class input,
.block-input input,
.block-input select,
.input-payroll input{
    margin-top: 10px;
    padding: 10px;
    width: calc(100% - 105px);
    border: none;
    outline: none;
}

.sider{
    width: 220px;
    height: 100%;
    position: fixed;
    left: 0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    top: 65px;
    border-radius: 10px;
}

.sider i{
    padding: 5px;
    border-radius: 10px;
}

.sider i:hover{
    background-color: #eecfcf;
}

.show-payroll{
    flex-direction: column;
    
}

.show-payroll-table, .show-table, th, tr, td{
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.payroll-modal,
.modal-add-teacher,
.modal-create-class,
.modal-update-class,
.modal-create-subject{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.add-teacher-container,
.create-class-container,
.create-update-sub-container,
.create-subject-container{
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: displayModal ease 0.4s;
}

.payroll-modal .payroll-container{
    position: relative;
    height: 310px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: displayModal ease 0.4s;
}

.modal-body i{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f4e7e7;
    border-radius: 10px;
}

.sider-item{
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    line-height: 50px;
    font-size: 17px;
}

.sider-item:hover{
    background-color: #f4e7e7;
}

.payroll-btn,
.handle-info-btn{
    display: flex;
    justify-content: space-evenly
}
#footer{
    text-align: center;
    background-color: #eadcdc;
    color:#000;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.footer__container span{
    font-size: 13px;
    font-weight: 600;
}

@keyframes displayModal {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



